$light:(
  light: (
    mainBackgroundColor: #333,
    secondaryBackgroundColor: #eee,
    errorBorderColor: #ce1111,
    textColor: #ddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
  )
); 