
$media-query-small: 768px;
$gutter:0 1em;

.base-layout{
  display: flex;
  flex-direction: row;
  @media  (max-width: $media-query-small) {
    flex-direction: column;  
  }
}

.horiz-vertic-align-layout {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*[class^='flex-grow-']{
  padding: $gutter;
  @media  (max-width: $media-query-small) {
    display: block;
  }
}

.flex-grow-1{
  flex-grow: 1;
}
.flex-grow-2{
  flex-grow: 2;
}
.flex-grow-3{
  flex-grow: 3;
}
.flex-grow-4{
  flex-grow: 4;
}
.flex-grow-5{
  flex-grow: 5;
}
.flex-grow-6{
  flex-grow: 6;
}
