.comp-card{
  padding: 24px;
  background-color: $purple;
  @include generateAttrBasedOnSize($border-radius-prefix, $border-radius, 1);
  margin-bottom: 16px;
  background-image: url('/card-background-shape.svg');
  background-repeat: no-repeat;
  background-position: top right; 
  height: 184px;
  width: 311px;
 
  .top{
    display: flex;
    background-repeat: no-repeat;
    background-position: top left;
    flex-direction: row-reverse;
    margin-bottom: 60px;
    :nth-of-type(2){
      margin-right: 24px;
    }
    .info{
      h5{
        color: $grey-50; 
        @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 2);
        margin: 0 0 8px 0
      }
      span{
        color: $white;
        @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 2);
        font-weight: bold;
        display: block;
      }
    }
  }
  .bottom{
    position: relative;
    .card-name{
      color: $white;
      font-weight: bold;
      @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 2);
    }
    .card-number{
      color: $grey-50;
      font-weight: bold;
      @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 2);
    }
  }
  .comp-button.toggle-modal{
    height: 22px;
    width: 22px;
    background-image: url('/edit-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 18px;
    margin:0;
    padding: 0;
    cursor: pointer;
  }
} 
.comp-card.visa{
  .top{
    background-image: url('/visa-logo.svg');
  }

}
.comp-card.mastercard{ 
  .top{ 
    background-image: url('/mastercard-logo.svg');
  }


}