.page-header{ 
  margin-bottom: 56px;

  h1{
    @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 5);
    color: #4c00c2;
    margin: 0 0 16px 0;  
    font-weight: bold;
  }
  p{
    color:$grey-70;
    @include generateAttrBasedOnSize($font-size-prefix, $font-sizes, 2);
  }
}  